.local-sliders {
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
}

.sliders-contain {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.apply-btn {
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #1976d2;
    color: white;
    width: 5rem;
    height: 2rem;
    margin-bottom: 1rem;
}

.global-slider {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    margin-top: 0.5rem;
}

.output-images {
    width: 15rem;
    height: 15rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid #1976d2;
}

.img-contain {
    width: 15rem;
    height: 15rem;
    border-radius: 5px;
    border: 1px solid #1976d2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-label-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-label-contain label {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}